.column-container {
    overflow: scroll;
    height: 400px;
    position: relative;
}

.column {
    display: inline-table;
    min-height: 200px;
    padding-top: 80px;
    width: 180px;
    height: 272px;
    margin: 0px 60px;
    cursor: default;
}

.column-trait {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}

.empty-column {
    color: #d2d2d2 !important;
}

.static-header {
    position: sticky;
    background: white;
    top: 0px;
    margin: auto;
    width: 180px;
    padding-bottom: 1px;
}

h1 {
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    margin-bottom: 20px;
}

.column-scroll {
    display: block;
    padding-bottom: 4px;
}
.gradient {
    z-index: 1;
    position: relative;
    bottom: 30px;
    background-image: linear-gradient(to bottom,
                      rgba(255,255,255, 0),
                      rgba(255,255,255, 1) 90%);
    width: 100%;
    height: 4em;
}

.download-container {
    padding-top: 4px;
}

.download-button {
    font-size: 14px;
    border: none;
    color: white;
    background: black;
    border-radius: 0px;
    padding: 15px 60px;
    cursor: pointer;
}
.download-button:hover {
    color: black;
    outline: 2px solid black;
    background: white;
}

@media (max-width: 1024px) {
    /*.phase2-words {
        margin-left: 25%;
    }*/
}
