* {
    text-align: center;
    font-family: 'Karla', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;
}

button {
    font-size: 14px;
    border: none;
    color: white;
    background: black;
    border-radius: 0px;
    padding: 15px 60px;
    cursor: pointer;
}
button:hover {
    color: black;
    outline: 2px solid black;
    background: white;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -72px;
}
#wrapper:after {
    content: "";
    display: block;
    height: 120px; /* the footer's total height */
}

.header {
    width: 100%;
    height: 160px;
    display: block;
}

.logo {
    margin-top: 60px;
    min-width: 100px;
    width: 6%;
}
.logo-full {
    margin-top: 44px;
    min-width: 380px;
    width: 40%;
}
.logo-full-cover {
    background: white;
    opacity: 0;
    top: 0px;
    position: absolute;
    width: 45.5%;
    height: 200px;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.logo-full-cover.left {
    left: 0px;
}
.logo-full-cover.right {
    right: 0px;
}

.container {
    width: 90%;
    height: 330px;
    margin: auto;
}

.title {
    margin-top: 90px;
}

.instructions {
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
}

.phase1 > p {
    line-height: 1.2;
    font-weight: bold;
}

.faces-sample {
    width: 80%;
    margin: auto;
}
.faces-sample > div {
    display: inline-block;
    width: 33%;
}
.faces-sample > div > span {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.faces-sample > div > div {
    font-style: italic;
    width: 80%;
    margin: auto;
}
.faces-sample > span > div {
    width: 100%;
}
.faces-sample > div > .face {
    cursor: default;
}

.trait-item {
    display: inline-grid;
    margin: 0px;
    background: white;
    line-height: 300px;
    text-align: center;
    width: 33%;
    height: 260px;
    position: relative;
}

.trait {
    color: black;
    display: inline-block;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
}

.trait-word {
    position: relative;
    display: inline-block;
}
.question-mark {
    position: absolute;
    right: -30px;
    top: 120px;
    width: 16px;
    z-index: 10;
}
.question-mark>img {
    width: 100%;
    display: block;
}

.modal {
    font-size: 20px;
    position: absolute;
    top: 50px;
    right: -454px;
    z-index: 8;
    text-align: left;
    width: 400px;
    height: 300px;
    line-height: 180%;
    padding-top: 60px;
    color: #c7c7c7;
}

.faces-overlay {
    display: block;
    padding-top: 26px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 70px;
}
.trait-item:hover > .faces-overlay {
    top: 70px;
}

.face {
    display: inline-block;
    cursor: pointer;
    margin: 4px 14px;
    width: 50px;
    height: auto;
    opacity: 1;
    transition: opacity .2s;
}

.fade {
    opacity: 0;
}

.happy-color {
    background: #f7a27c;
}
.neutral-color {
    background: #fabb73;
}
.sad-color {
    background: #3b80c2;
}

.counter-container {
    width: 33%;
    margin: auto;
    cursor: default;
}
.counter {
    display: inline-block;
    text-align: right;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
    width: 70px;
}
.counter>.selected {
    margin-right: 2px;
}
.counter>.total {
    float: right;
    margin-left: 2px;
}

.in-text {
    width: 20px;
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.footer {
    width: 100%;
    margin-top: 100px;
    height: 120px;
    display: block;
    background: #f0f0f0;
    cursor: default;
    /*position: absolute;
    bottom: 0;*/
}
.footer-tag {
    display: block;
    color: black;
    padding-top: 50px;
    font-style: italic;
    padding-left: 20px;
    font-weight: 100;
}
.footer-tag>a:hover {
    color: #3b80c2;
}

@media (max-width: 1024px) {
    .trait-item {
        width: 100%;
    }
}
