* {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

.trait-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: black;
    width: 150px;
    height: 40px;
}

.trait {
    color: white;
    font-family: sans-serif;
}
